@page
@model IndexModel
@{
    ViewData["Title"] = "Сократитель ссылок";
}


<h1>Сократитель ссылок</h1>
@section scripts {
    <script src="./js/site.js"></script>
    <style src="./css/site.css"></style>
}
<form method="post">
    <input type="text" asp-for="@Model.LinkVM.Url" placeholder="Введите ссылку для сокращения" />
    <button type="submit" id="addLinkButton" style="display: none;">Сократить ссылку</button>
</form>
<h3>История сокращений</h3>
@if (Model.Links != null && Model.Links.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Длинный Url</td>
                <td>Короткий Url</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Links)
            {
                <tr>
                    <td><a href="@item.LongUrl" target="_blank">@((item.LongUrl.Length > 50) ? item.LongUrl.Substring(0, 50) + "..." : item.LongUrl)</a></td>
                    <td><a href="@item.ShortUrl" target="_blank">@item.ShortUrl</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>Вы ещё не добавили ни одной ссылки!<br />Нажмите на кнопку "Сократить ссылку"</h3>
}
